body{
   background-image: linear-gradient(black 33%, white 67%, red 33%);
   color: white;
   width: 100vw;
   height: 100vh;
}
.ppreto{
   color: black;
   font-size: medium;
}
iframe{
   border: solid 20px orangered;
}
div{
   float:center;
}